.container {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform .3s linear;
}


.container.close{
    transform: translateY(-100%);
    transition: transform .3s linear;
}

.container ul li a {
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}

.container ul li:last-child a {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.container ul li:last-child a img{
    margin-left: 5px;
}